name: Oracle DB Automation CI

permissions:
      contents: write
      pages: write
      id-token: write
      
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      oracle:
        image: gvenzl/oracle-free
        ports:
          - 1521:1521
        env:
          ORACLE_PASSWORD: Oracle123
        options: >-
          --health-cmd="healthcheck.sh"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=20

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        java-version: "17"
        distribution: "temurin"

    - name: Wait for Oracle DB to be ready
      run: |
        echo "Waiting for Oracle DB..."
        for i in {1..30}; do
          nc -z localhost 1521 && echo "Oracle is UP!" && break
          echo "Still waiting..."
          sleep 10
        done

    - name: Create user + table inside Oracle (using Docker SQLPlus)
      run: |
        echo "Finding Oracle container..."
        ORACLE_CID=$(docker ps -q --filter "ancestor=gvenzl/oracle-free")
        echo "Oracle Container ID: $ORACLE_CID"

        echo "Running SQL commands..."
        docker exec $ORACLE_CID bash -c "
        echo '
        ALTER SESSION SET CONTAINER = FREEPDB1;

        CREATE USER AUTOMATION IDENTIFIED BY \"Auto@123\";
        GRANT CREATE SESSION, CONNECT, RESOURCE, UNLIMITED TABLESPACE TO AUTOMATION;

        ALTER SESSION SET CURRENT_SCHEMA = AUTOMATION;

        CREATE TABLE USERS (
          ID NUMBER PRIMARY KEY,
          USERNAME VARCHAR2(50),
          ROLE VARCHAR2(50)
        );

        INSERT INTO USERS VALUES (1, '\''githubuser'\'', '\''QA'\'');
        COMMIT;
          ' | sqlplus sys/Oracle123@localhost:1521/FREEPDB1 as sysdba
          "

    - name: Run Maven tests
      run: mvn -B clean test

    - name: Upload test reports
      uses: actions/upload-artifact@v4
      with:
        name: reports
        path: |
          logs/**/*.log
          logs/**/*.html

    - name: Copy report for GitHub Pages
      run: |
        mkdir -p gh-pages
        cp logs/*.html gh-pages/

    - name: Deploy report to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: gh-pages

