name: Oracle DB Automation CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      oracle:
        image: gvenzl/oracle-free
        ports:
          - 1521:1521
        env:
          ORACLE_PASSWORD: Oracle123
        options: >-
          --health-cmd="healthcheck.sh"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=20

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: "17"
        distribution: "temurin"

    - name: Wait for Oracle DB to start
      shell: bash
      run: |
        echo "Waiting for Oracle DB to become available..."
        for i in {1..40}; do
          nc -z localhost 1521 && echo "Oracle is UP!" && break
          echo "Oracle not ready yet... retrying"
          sleep 10
        done

    - name: Install SQLPlus dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libaio-dev unzip wget


    - name: Install Oracle Instant Client
      run: |
        wget https://download.oracle.com/otn_software/linux/instantclient/236000/instantclient-basiclite-linux.x64-23.6.zip -O ic.zip
        unzip ic.zip
        sudo mv instantclient* /opt/oracle
        echo "/opt/oracle" >> $GITHUB_PATH

    - name: Create AUTOMATION user and USERS table
      run: |
        cat <<EOF > setup.sql
        ALTER SESSION SET CONTAINER = FREEPDB1;
        CREATE USER AUTOMATION IDENTIFIED BY "Auto@123";
        GRANT CREATE SESSION, CONNECT, RESOURCE, UNLIMITED TABLESPACE TO AUTOMATION;
        CREATE TABLE AUTOMATION.USERS (
          ID NUMBER PRIMARY KEY,
          USERNAME VARCHAR2(50),
          ROLE VARCHAR2(50)
        );
        EXIT;
        EOF

        docker exec $(docker ps -qf "name=oracle-free") bash -c "
            echo exit | sqlplus sys/Oracle123@localhost:1521/FREEPDB1 AS SYSDBA @/workspace/setup.sql
        "

    - name: Run Maven tests
      run: mvn -B clean test

    - name: Upload Artifacts (Extent Report + Logs)
      uses: actions/upload-artifact@v4
      with:
        name: test-reports
        path: |
          logs/**/*.log
          logs/**/*.html

    - name: Upload a Build Artifact
      if: always()
      uses: actions/upload-artifact@v5.0.0
      with:
        name: Logs
        path: logs/

    - name: Publish Test Report
      if: always()
      uses: dorny/test-reporter@v1
      with:
        name: TestNG Results
        path: target/surefire-reports/junitreports/TEST-*.xml
        reporter: java-junit
